.weui-tab {
  .vux-header .vux-header-left a {
    color: #fff;
  }
  .vux-header .vux-header-left .left-arrow:before {
    border-left-color: #fff;
    border-top-color: #fff;
  }
}
.pay .weui-cells,
.userInfo .weui-cells {
  margin-top: 10px;
}
